body {
  font-family: 'Helvetica';
}
.fluid-label {
  position: relative;
  border: 1px solid lightgray;
}

.fluid-label input,
.fluid-label textarea {
  font-size: 16px;
  border: none;
  outline: none;
}


.fluid-label label {
  font-size: 12px;
  color: lightgray;
  top: 5px;
}

.fluid-label.focused {
  border-color: #298eea;
}

.fluid-label.focused label {
  color: #298eea;
}
