.fluid-label {
  position: relative;
  padding: 15px;
  border-radius: 2px;
  display: inline-block;

  input,
  textarea {
    border: none;
    outline: none;
    position: relative;
  }

  label {
    position: absolute;
    top: 5px;
  }
}
