.fluid-label {
  position: relative;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 2px;
  display: inline-block;

  input {
    border: none;
    outline: none;
    position: relative;
  }

  label {
    position: absolute;
    top: 0px;
    left: 10px;;
    font-size: 12px;
  }
}
